.login-page {
  padding: 112px 0 24px;
  min-height: 100vh;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 1;
}

.login-form {
  width: 368px;
  margin: 0 auto;
  text-align: center;
}

.header {
  margin: 0 0 24px 0;
}
.ant-input {
  min-height: 0;
}
