.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.profile {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
  float: right;
}

.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
  border-right: none;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 60px;
  padding: 5px;
}

.site-layout .site-layout-background {
  background: #fff;
}

.ant-layout-sider {
  background-color: #fff;
}
